torch==2.9.0
pesq==0.0.4
pystoi==0.4.1
scipy==1.16.3
soundfile==0.13.1
torchaudio==2.9.0
yamlargparse==1.31.1
torchinfo==1.8.0
tqdm==4.67.1
pyyaml==6.0.3
pysptk==1.0.1
pymcd==0.2.1
pyworld==0.3.5
fastdtw==0.3.4
museval==0.4.1
resampy==0.4.3
onnxruntime==1.23.2
gammatone==1.0.3
librosa==0.11.0
opencv-python==4.13.0.90
mir_eval==0.8.2
numpy==2.0.2
tensorboard==2.19.0
torch-complex==0.4.4
rotary-embedding-torch==0.8.9
python_speech_features==0.6
typeguard==4.4.4
scenedetect==0.6.7.1
torchvision==0.24.0
huggingface-hub==1.3.4
gdown==5.2.1
pydub==0.25.1
xls_r_sqa==0.1.0
batch-face==1.5.4
facenet-pytorch